h1
{
    color: darkgoldenrod; 
    font-size: 90px;
}
h1{
    text-align: center;
}
h2
{ color: white;

}
#first
{
    background-color: lightgreen;
}
p span{
    color: blue;
    font-weight: bold;
}
h1,h2,h3.p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#second
{ background-color: indianred;

}
#third
{ 
   background-color: cadetblue;

}


